@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: rgb(255, 255, 255);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
  min-height: 100vh;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
}

.menu .navbar ul {
  display: flex;
}

.menu .navbar ul li {
  position: relative;
}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 10px 20px;
  color: #ffffff;
  display: block;
  font-weight: bold;
}

.menu .navbar ul li a:hover {
  color: #ffffff;
  background-color: #f1c85a;
  padding: 5px 10px;
  border-radius: 20px;
}

.icons {
  display: flex;
}

.icons i {
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  border: 2px solid #ffffff;
  border-radius: 100%;
  padding: 12px;
  margin: 2px;
  font-size: 20px;
  transition: .3s;
}

.icons i:hover {
  color: hsl(37, 94%, 63%);
}

#menu {
  display: none;
}

.menu-icono {
  display: none; /* Esconder en pantallas grandes */
  width: 40px;
}

.menu label {
  cursor: pointer;
  display: none;
}

.header-txt {
  width: 40%;
  padding: 20px;
}

.header-txt h1 {
  font-size: 70px;
  line-height: 80px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 25px;
  font-family: 'Roboto Condensed', sans-serif;
}

.header-txt p {
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 25px;
}

.container-contact {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1000px;
  background-color: #f1c85a;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid #ffffff;
  display: inline-block;
}

#us {
  list-style: none;
  padding: 0;
}

#letra {
  margin: 10px 0;
  font-size: 1rem;
}

.services,
.contact,
.direccion,
.email {
  flex: 1;
  margin: 0 10px;
}

/* Mostrar menú en pantallas pequeñas */
@media (max-width: 768px) {
  .menu label {
    display: inline-block;
  }
  .navbar ul {
    display: none;
  }
  #menu:checked + .navbar ul {
    display: block;
  }
}