@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;  
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
} 

.header {
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    min-height: 100vh;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}

.menu .navbar ul li {
    position: relative;
    float: left;
    flex-direction:column-reverse;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
    font-weight: bold;

    
}

.menu .navbar ul li a:hover {
    color: #bbfcff;
    margin: 10px 10px;
    padding: 5px 5px;
    border-radius: 20px;

}

.icons{
    display: flex;
  }
  
  .icons i {
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    border: 5px solid #ffffff;
    border-radius: 100%;
    padding: 12px;
    margin: 2px ;
    font-size: 25px;
    transition: .3s;
  }
  
  .icons i:hover {
      color: hsl(203, 47%, 65%);
  }

#menu {
    display: none;
}

.menu-icono {
    width: 250px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-txt {
    width: 40%;
}

.header-txt h1 {
    font-size: 70px;
    line-height: 80px;
    font-weight: 700;
    text-transform: uppercase;
    color: #d6ebef;
    margin-bottom: 25px;
    font-family: 'Roboto Condensed', sans-serif;
}

.header-txt p {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 25px;
}


.conteiner {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1000px;
    background-color: #333333;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #ffffff;
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    font-size: 1rem;
}

.services, .contact, .email {
    flex: 1;
    margin: 0 10px;
}